{% load static %}
{% load socialaccount %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/styles.css' %}">
  <title>Unknown Market</title>
</head>

<body>
  <div class="topnav">
    <a href="#home">
      {% if user.is_authenticated %}
        Hello, {{ user.username }}
      {% else %}
        Hello, anonymous
      {% endif %}
    </a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>

  <div class="vertical_split left">
    <div class="horizontal_split up">
      {{ calendar }}
    </div>

    <div class="horizontal_split down">
      {% for article in articles %}
        <article>
          <img src="{{ article.thumbnail }}" alt="Thumbnail" />
          <h1><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h1>
          <p>{{ article.description }}</p>
        </article>
      {% endfor %}
    </div>
  </div>

  <div class="vertical_split right">
    <div class="centered">
      <img src="{% static 'main_app/images/white_cat.png' %}" alt="White Cat">
      <h2>Jane Flex</h2>
      <p>Some text.</p>
    </div>
  </div>
</body>

</html>