{% load static %}
{% load socialaccount %}

<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'unknown_calendar/styles.css' %}">
  <title>Unknown Market</title>
</head>

<body>
  <h1>Calendar, 
    {% if user.is_authenticated %}
      {{ user.username }} <a href="logout">Logout</a>
    {% else %}
      <a href="{% provider_login_url 'google' %}">Login With Google</a>
    {% endif %}
  </h1>
  {{ calendar }}
</body>
</html>